/*
 * Custom css
 *
 * Created on : 2018-03-21
 * Author     : Ivan Kivumbi, 15/UG/1093/BIT-S
 * Copyright  : FST/009 
 */

.nav.md-pills {
    width: 100px;
    height: 100%;
}

.nav-item {
    height: 100px;
    width: 100px;
}

.nav-item a {
    font-size: 20px;
}

.nav-item a i {
    padding: 5px;
    font-size: 40px;
}

.w-auto {
    width: auto;
    background-color: #555;
}

.icon-bar {
    width: auto;
    background-color: #555;
}

.icon-bar a {
    display: block;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.md-pills .active {
    background-color: #4CAF50 !important;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}